<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Interfaces.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <applicationSettings>
        <Interfaces.Properties.Settings>
            <setting name="Interfaces_PtlToLes_PtlToLesServiceService" serializeAs="String">
                <value>http://172.21.152.122:1838/Service/PtlToLesService</value>
            </setting>
            <setting name="Interfaces_PtlToMes_ToMesRemoteServiceService"
                serializeAs="String">
                <value>http://10.34.117.21:8071/mes-interface/remote/toMes</value>
            </setting>
        </Interfaces.Properties.Settings>
    </applicationSettings>

    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>

        <bindings>
            <netTcpBinding>
                <binding maxReceivedMessageSize="2147483647">
                    <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
                </binding>
            </netTcpBinding>

            <basicHttpBinding>
                <binding maxReceivedMessageSize="2147483647">
                    <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
                </binding>
            </basicHttpBinding>
        </bindings>

        <services>
            <service name="Interfaces.Services.ForAssortingKanbanService">
                <endpoint address="net.tcp://localhost:5900/ForAssortingKanbanService/"
                    binding="netTcpBinding" contract="Interfaces.Services.IForAssortingKanbanService" />
            </service>
            <service name="Interfaces.Services.ForTaskKanbanService">
                <endpoint address="net.tcp://localhost:5900/ForTaskKanbanService/"
                    binding="netTcpBinding" contract="Interfaces.Services.IForTaskKanbanService" />
            </service>
            <service name="Interfaces.Services.ForCartFindingClientService">
                <endpoint address="http://localhost:5980/ForCartFindingClientService/"
                    binding="basicHttpBinding" contract="Interfaces.Services.IForCartFindingClientService" />
            </service>
            <service name="Interfaces.Services.LesToPtlService">
                <endpoint address="http://localhost:5980/LesToPtlService/" binding="basicHttpBinding"
                    contract="Interfaces.Services.ILesToPtlService" />
            </service>
            <service name="Interfaces.Services.MesToPtlService">
                <endpoint address="http://localhost:5980/MesToPtlService/" binding="basicHttpBinding"
                    contract="Interfaces.Services.IMesToPtlService" />
            </service>
            <service name="Interfaces.Services.FeedZonePDAService">
                <endpoint address="" binding="basicHttpBinding" contract="Interfaces.Services.IFeedZonePDAService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:5980/FeedZonePDAService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Interfaces.Services.ICacheRegionPADService">
                <endpoint address="" binding="basicHttpBinding" contract="Interfaces.Services.ICacheRegionPADService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Interfaces.Services/ICacheRegionPADService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>